<%= simple_form_for([@post, @post.comments.build]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :comment %>
  </div>


  <input type="hidden" name="post[user_id]" value="<%= session[:user_id] %>" />
  <input type="hidden" name="comment[user_id]" value="<%= session[:user_id] %>" />

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
