<p id="notice"><%= notice %></p>

<ul>
  <% @users.each do |user| %>
    <li>
      <div class='user_listing'>
        <%= image_tag user.avatar_url.url(:thumb), class: 'image_float_left' %>
        <span class='left'>
          <%= link_to user.name, user %></br>
          <%= user.email %>
        </span>

        <span class='right'>
          Posts: <%= user.posts.count %></br>
          Member since: <%= user.created_at.strftime("%m/%d/%Y") %><br />

          <% if current_user.isadmin? %>
            <%= link_to "Delete User", user, method: :delete,
            data: { confirm: "You sure?" } %>
          <% end %>
        </span>
        <% end %>
      </div>
    </li>
</ul>
<%= will_paginate @users, :class => 'custom_pagination' %>
