<p id="notice"><%= notice %></p>

<%= image_tag @user.avatar_url.url(:medium), class: 'profile_pic' %>

<div class='profile_user_info'>

<h2 style='font-weight: 700;'>
  <%= @user.name %>
</h2>

<p>

  <%= @user.email %>
</p>

<p>
  <strong>Titles:</strong>
  <%= @user.titles %>
</p>

<p>
  <strong>Sackos:</strong>
  <%= @user.sackos %>
</p>

<p>
  <strong>Posts:</strong>
  <%= @user.posts.count %>
</p>



<% unless @user.description.blank? %>
<article>
  <%= @user.description %>
</article>
<% end %>

<br />
<br />


<p>
  <%= @user.name %> joined Lebron On Skates <%= time_ago_in_words(@user.created_at) %> ago.
</p>



<% if current_user == @user || current_user.try(:isadmin?) %>
<%= link_to 'Edit Profile', edit_user_path(@user) %>
<% end %>

</div>
