<div class='new_post_form'>
  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= f.input :content, class: 'form-control' %><br />
  </div>

  <% if current_user && current_user.isadmin? %>
    <span>Sitcky post? <%= f.check_box :sticky %></span>
  <% end %>


  <input type="hidden" name="post[user_id]" value="<%= session[:user_id] %>" />

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
  <br />
  <button class='btn btn-default btn-sm'><%= link_to 'Back', posts_path %></button>
</div>
