<p id="notice"><%= notice %></p>
<br />
<hr />
<table class='table table-responsive table-bordered' id='posts'>
  <thead>
    <tr>
      <th>Topic</th>
      <th style='text-align:center'>Replies</th>
      <th style='text-align:center'>Favorites</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class='topic'>
          <% if post.sticky? %>
          <span class='glyphicon glyphicon-pushpin'></span>
          <% end %>
          <h4><%= link_to post.title, post %></h4>
          <small>Posted <%= time_ago_in_words(post.created_at) %> ago
                 by <%= link_to post.user.name, post.user %>
          </small>

          <% if current_user?(post.user) %>
            <span class='user_post_options'>
              <%= link_to '<i class="fa fa-trash-o fa-lg"></i>'.html_safe, post, method: :delete, data: { confirm: 'Do you really want to delete this post?' } %>
            </span>
          <% end %>
        <!-- Ends topic class td element -->
        </td>
        <td class='replies'><%= post.comments.count %></td>
        <td class='replies'>



          <% if current_user.voted_for?(post) %>
          <button type="button" class="btn btn-default btn-sm", id="already_voted">
            <span class="glyphicon glyphicon-heart"></span><%= post.get_upvotes.size %></span>
          </button>

          <% else %>

          <button type="button" style='margin-top:-6px' class="btn btn-default btn-sm">
            <a href="/posts/<%= post.id %>/favorite">
              <span class="glyphicon glyphicon-heart"></span><%= post.get_upvotes.size %></span>
            </a>
          </button>
          <% end %>
        </td>

        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New Thread', new_post_path, class: 'create_new_thread' %>
    <%= will_paginate @posts, :class => 'custom_pagination' %>
