<p id="notice"><%= notice %></p>

<div class='container'>
  <h2><%= @post.title %></h2>

  <div class='post'>
    <header class='post_header'>
      <span class='post_created_at'><%= time_ago_in_words(@post.created_at) %> ago</span>
      <span class='favorites'><%= @post.favorites %></span>
    </header>
    <div class='user_information'>
      <%= image_tag @post.user.avatar.url(:thumb) %>
      <p><b><a href='/users/<%= @post.user.id %>'><%= @post.user.name %></a></b></p>
      <small>Member since: <%= @post.user.created_at.strftime("%m/%d/%Y") %></small>
      <small>Posts: <%= @post.user.posts.count %></small>
    </div>
    <div class='post_body'>
      <%= @post.content %>
      <% if current_user = @post.user.name %>
      <div class='users_post_options'>
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Back', posts_path %>
      </div>
      <% end %>
    </div>
  </div>


  <div class='comment_section'>
    <%= render @post.comments %>
      <h3>Submit a reply</h3>
    <%= render 'comments/form' %>
  </div>
</div>
