<p id="notice"><%= notice %></p>

<div class='container'>
  <h2><%= @post.title %></h2>

  <div class='post'>
    <header class='post_header'>
      <span class='post_created_at'><%= time_ago_in_words(@post.created_at) %> ago</span>
      <span class='favorites'><span class="glyphicon glyphicon-heart"><%= @post.get_upvotes.size %></span></span>
    </header>
    <div class='user_information'>
      <%= image_tag @post.user.avatar_url.url(:thumb) %>
      <p><b><a href='/users/<%= @post.user.id %>'><%= @post.user.name %></a></b></p>
      <small>Member since: <%= @post.user.created_at.strftime("%m/%d/%Y") %></small>
      <small>Posts: <%= @post.user.posts.count %></small>
    </div>
    <div class='post_body'>
      <%= simple_format(@post.content) %>
      <% if current_user.id == @post.user.id %><br /><br />
      <div class='users_post_options'>
        <button class='btn btn-default btn-sm'><%= link_to 'Edit', edit_post_path(@post) %></button>
        <button class='btn btn-default btn-sm'><%= link_to 'Back', posts_path %></button>
        <button class='btn btn-default btn-sm'><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Do you really want to delete this post?' } %>
      </div>
      <% else %>
        <div class='users_post_options'>
          <button class='btn btn-default btn-sm'><%= link_to 'Back', posts_path %></button>
        </div>
      <% end %>
    </div>
  </div>

  <div class='comment_section'>
    <%= render @post.comments %>
    <br />
    <hr />
    <h3>Submit a reply</h3>
    <%= render 'comments/form' %>
  </div>
</div>
